.App{
  margin: 10px;
  display: flex;
  justify-content: center;
}
.app-content{
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.app-header h2{
  font-weight: 400;
}
.app-body{
  margin-left: 125px;
}
.info{
  padding: 10px 20px;
  background-color: #ffefef;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.info p span{
  background-color: #98ff98;
  padding: 2px 6px;
  border-radius: 6px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
.btn{
  margin-top: 15px;
  font-size: 18px;
  border: none;
  background-color: #ff7171;
  padding: 10px 45px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: 0.7s ease;
}
.btn:hover{
  background-color: #ff0000;
}
.content{
  display: flex;
  justify-content: space-around;
}
li{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
li p{
  margin: 0;
  margin-top: 5px;
}
.left{
  display: flex;
}
.left h2{
  margin-left: 10px;
}
.icon{
  font-size: 34px;
  margin-top: 19px;
  margin-left: 23px;
  color: #ff7171;
}
.card-header{
  display: flex;
  justify-content: space-between;
}
.card-header h3{
  margin: 0px;
  display: inline-block;
}
.card-header span{
  font-size: 22px;
  margin-left: 10px;
}
ul{
  padding: 0px;
}
li{
  margin-bottom: 15px;
  padding: 15px 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgb(255 113 113);
  background-color: white;
}
li p{
  text-overflow: ellipsis;
}
.card{
  border-radius: 15px;
  padding: 10px 20px;
  width: 350px;
}
.card-body{
  overflow: auto;
  height: 400px;
  scroll-behavior: smooth;
  padding: 10px;
}
.card-body::-webkit-scrollbar {
  width: 1px; /* Adjust the width of the scrollbar */
}
.card-body::-webkit-scrollbar-thumb {
  background-color: rgb(255 113 113);
  border-radius: 35px; /* Customize the color of the scrollbar thumb */
}
.card-body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255 113 113); /* Customize the color of the scrollbar thumb on hover */
}
.new-item{
  padding: 10px;
    background-color: #ffefef;
    border-radius: 15px;
    cursor: pointer;
}
.icon-2{
  font-size: 34px;
  color: #ff7171;
}
.to-do{
  background-color: #ffefef;
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: 500;
}
.doing{
  background-color: #ffdede;
  padding: 3px 10px;
  border-radius: 5px;
  font-weight: 500;
}
.done{
  background-color: #ffc8c8;
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: 500;
}
.pointer{
  cursor: pointer;
}
.screen {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}
.slide-up {
  transform: translateY(37%);
}

.screen-header{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}
.screen-body{
  padding: 10px 50px;
}
.title-input{
  font-size: 45px;
  border: none;
  outline: none;
}
.data{
  width: 350px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.icon-3{
  color: #ff7171;
}